
        <button type="button" ng-click="add()" class="btn btn-primary">Add Event</button>

        <div class="repeater">
            <div class="repeat" ng-repeat="item in data">

                <div class="row" style="margin: 0px">
                    <button ng-click="delete($index)" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>


                <div class="form-group">
                    <div class='input-group date'>
                        <input type='number' placeholder="Day" ng-model="item.day" class="form-control"  />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class='input-group date'>
                        <input type='text' placeholder="Time" ng-model="item.time" class="form-control" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>


                <input type="text" ng-model="item.title" class="form-control" placeholder="Title"/>
                <br/>
                <textarea placeholder="Description" class="form-control" rows="3" ng-model="item.description">{{ item.description }}</textarea>
                <hr/>
                <br/>
            </div>
        </div>


<script>
    var app = angular.module('App', ['ngLocale']);
    app.controller('main',['$scope',function($scope){

        if(!data_saved || data_saved == ""){
            data_saved = [];
        }
        $scope.data = data_saved;


        $scope.add = function(){
            var newitem = {
                day : '',
                time : '',
                title : '',
                description : ''
            };
            $scope.data.push(newitem);
        };

        $scope.delete = function(index){
            $scope.data.splice(index,1);
        }


    }]);
</script>