/*!
	Theme Name: cft
	Author: Thilina Perera
	Version: 1.0
	Author URI: http://www.thilinaperera.com
	Theme URI: http://www.thilinaperera.com/cft
	Tags: dark,light,left-sidebar,right-sidebar,responsive-layout
	Description: This is a description for the cft theme.
	License: GNU General Public License v2 or later
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fba919;
  color: #efefef;
}

body.custom-background {
  background-position: center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

a {
  color: #fba919;
  text-decoration: none;
}

h1 a {
  color: #efefef;
}

img {
  max-width: 100%;
  height: auto;
}

input, textarea {
  border: 1px solid #222;
  background: #efefef;
  padding: 0.3em 0.4em;
  box-shadow: inset -1px -1px 6px #222;
}

.site {
  overflow: hidden;
  background: rgba(34, 34, 34, 0.85);
  *zoom: 1;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}
.site:before, .site:after {
  content: " ";
  display: table;
}
.site:after {
  clear: both;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

/******************************************************************************\
	Settings
\******************************************************************************/
html {
  font-size: 16px;
}
@media screen and (min-width: 481px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 1025px) {
  html {
    font-size: 20px;
  }
}

/******************************************************************************\
	Font calculation mixins
\******************************************************************************/
/******************************************************************************\
	Standard font styling
\******************************************************************************/
body {
  font-family: "Verdana", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

em, i {
  font-style: italic;
  line-height: inherit;
}

strong, b {
  font-weight: bold;
  line-height: inherit;
}

p,
ul,
ol {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}

blockquote {
  position: relative;
}
blockquote:before {
  display: block;
  float: left;
  content: "\"";
  font-size: 40px;
  font-size: 2.5rem;
  margin: 0 15px 15px 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
h5,
h6 {
  font-family: "Georgia", serif;
  line-height: 1.2;
  text-transform: uppercase;
}
@media screen and (min-width: 769px) {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  h5,
  h6 {
    word-wrap: normal;
  }
}

h1,
.h1 {
  font-size: 40px;
  font-size: 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 481px) {
  h1,
  .h1 {
    font-size: 48px;
    font-size: 3rem;
  }
}

h2,
.h2 {
  font-size: 28.8px;
  font-size: 1.8rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 481px) {
  h2,
  .h2 {
    font-size: 32px;
    font-size: 2rem;
  }
}

h3,
.h3 {
  font-size: 17.6px;
  font-size: 1.1rem;
  margin-top: 2.25rem;
  margin-bottom: 0.75rem;
}
@media screen and (min-width: 481px) {
  h3,
  .h3 {
    font-size: 19.2px;
    font-size: 1.2rem;
  }
}

h4,
h5,
h6 {
  font-size: 16px;
  font-size: 1rem;
  margin-top: 2.25rem;
  margin-bottom: 0.75rem;
}

h2,
h3 {
  page-break-after: avoid;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

p ~ h1 {
  margin-top: 3rem;
}

.sticky {
  background: none;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  float: none;
}

.wp-caption-text {
  background: #222;
}

.gallery-caption {
  background: #222;
}

.bypostauthor {
  background: #222;
}

.post-links {
  *zoom: 1;
  width: 70%;
  margin: 1em auto;
}
.post-links:before, .post-links:after {
  content: " ";
  display: table;
}
.post-links:after {
  clear: both;
}
.post-links a {
  float: right;
}
.post-links a:first-child {
  float: left;
}

.linked-page-nav {
  margin-top: 1em;
}

.widget {
  float: left;
  display: block;
  margin-right: 3.06748%;
  width: 31.28834%;
  font-size: 12.8px;
  font-size: 0.8rem;
  padding: 2em 1.8em;
  position: relative;
}
.widget:last-child {
  margin-right: 0;
}
.widget h2 {
  font-size: 17.6px;
  font-size: 1.1rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.5em;
  border-bottom: 0.1em solid #efefef;
}
.widget ul {
  padding-left: 1.6em;
}
.widget p {
  text-align: justify;
}

.widget:nth-child(3n) {
  margin-right: 0;
}

.widget:nth-child(3n+1) {
  clear: left;
}

.widget_search label {
  display: block;
  padding: 0.2em 0;
}
.widget_search input {
  width: 100%;
}

#searchsubmit, #submit {
  padding: 0.3em 0.4em;
  border: 1px solid #222;
  margin-top: 0.2em;
  background-color: #fba919;
  color: #222;
  box-shadow: none;
}

.comments {
  float: left;
  display: block;
  margin-right: 3.06748%;
  width: 82.82209%;
  margin-left: 8.58896%;
  font-size: 14.4px;
  font-size: 0.9rem;
  background-color: #222;
  margin-bottom: 3em;
  padding: 2em;
}
.comments:last-child {
  margin-right: 0;
}
.comments ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.comment-body {
  margin-bottom: 1.5em;
}

.children .comment-body {
  padding-left: 2em;
}

.comment-author {
  border-top: 0.1em solid #efefef;
  border-bottom: 0.1em solid #efefef;
  text-align: center;
  padding: 0.6em 0;
  position: relative;
}
.comment-author img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: auto;
}

.byuser .comment-author {
  background-color: #fba919;
  color: #222;
}
.byuser .comment-author a {
  color: #222;
  text-decoration: underline;
}

.comment-meta {
  text-align: center;
  margin-top: 0.2em;
  margin-bottom: 0.8em;
}

.comments-title {
  font-size: 17.6px;
  font-size: 1.1rem;
  text-align: center;
  margin-top: 0;
}

.site-header {
  overflow: hidden;
  padding: 3em 0;
  position: relative;
  height: 300px;
  border-bottom: 3px solid #efefef;
}

.custom-header {
  position: absolute;
  top: 0;
}

.logo {
  float: left;
  display: block;
  margin-right: 3.06748%;
  width: 65.64417%;
  margin-left: 17.17791%;
  color: #efefef;
  position: relative;
  z-index: 2;
}
.logo:last-child {
  margin-right: 0;
}
.logo .blog-name {
  margin-bottom: 0.2em;
  text-align: center;
  text-shadow: 0 0 0.5em #222;
}
.logo .blog-description {
  margin-bottom: 1.5em;
  text-align: center;
  font-style: italic;
  text-shadow: 0 0 0.5em #222;
}

.main-menu {
  padding-top: 20px;
}
.main-menu .menu-item a {
  color: scale-lightness(#222, 70%);
  white-space: nowrap;
}
.main-menu .menu-item a:hover {
  color: #efefef;
}

/******************************************************************************\
	General
\******************************************************************************/
article {
  *zoom: 1;
}
article:before, article:after {
  content: " ";
  display: table;
}
article:after {
  clear: both;
}

.archive-title, .search-title h1 {
  font-size: 20.8px;
  font-size: 1.3rem;
  font-weight: normal;
  background: #efefef;
  text-align: center;
  color: #222;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.6em 0;
}

.archive-description, .second-search {
  font-size: 14.4px;
  font-size: 0.9rem;
  font-style: italic;
  margin-top: 0;
  background: #efefef;
  color: #222;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0.8em;
}
.archive-description p, .second-search p {
  margin: 0;
}
.archive-description form, .second-search form {
  margin-top: 0.5em;
  margin-bottom: 0.6em;
}
.archive-description input, .second-search input {
  box-shadow: none;
}

/******************************************************************************\
	Standard-page
\******************************************************************************/
.post-title {
  float: left;
  display: block;
  margin-right: 3.06748%;
  width: 82.82209%;
  margin-left: 8.58896%;
  border-top: 0.03em solid #efefef;
  border-bottom: 0.03em solid #efefef;
  text-align: center;
  margin-bottom: 0.2em;
}
.post-title:last-child {
  margin-right: 0;
}
.post-title:first-child {
  margin-top: 1em;
}

.single .post-title:first-child {
  margin-top: 1em;
}

.post-meta {
  float: left;
  display: block;
  margin-right: 3.06748%;
  width: 65.64417%;
  margin-left: 17.17791%;
  text-align: center;
  font-style: italic;
}
.post-meta:last-child {
  margin-right: 0;
}

.post-content {
  float: left;
  display: block;
  margin-right: 3.06748%;
  width: 82.82209%;
  margin-left: 8.58896%;
  position: relative;
  background: #efefef;
  color: #222;
  padding: 1.5em;
  margin-top: 1.5em;
}
.post-content:last-child {
  margin-right: 0;
}

.page .post-content {
  margin-bottom: 3.5em;
}

/******************************************************************************\
	Front-page and archives
\******************************************************************************/
.home .post-content, .archive .post-content, .search .post-content, .author .post-content {
  float: left;
  display: block;
  margin-right: 3.06748%;
  width: 65.64417%;
  margin-left: 17.17791%;
  background: none;
  color: #efefef;
  padding: 0;
  text-align: center;
}
.home .post-content:last-child, .archive .post-content:last-child, .search .post-content:last-child, .author .post-content:last-child {
  margin-right: 0;
}

.pagination {
  float: left;
  display: block;
  margin-right: 3.06748%;
  width: 100%;
  border-bottom: 3px solid #efefef;
}
.pagination:last-child {
  margin-right: 0;
}
.pagination ul {
  list-style: none;
  text-align: center;
  margin: 1em 0 0 0;
  padding: 0.6em 0;
  background: #222;
}
.pagination li {
  display: inline;
  margin: 0 0.5em;
}

/******************************************************************************\
	Widgets
\******************************************************************************/
.page-content .widgets {
  *zoom: 1;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}
.page-content .widgets:before, .page-content .widgets:after {
  content: " ";
  display: table;
}
.page-content .widgets:after {
  clear: both;
}
.page-content .widgets .widgettitle {
  color: #fff;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.3;
}
@media screen and (min-width: 481px) {
  .page-content .widgets .widgettitle {
    font-size: 19.2px;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 769px) {
  .page-content .widgets .widgettitle {
    font-size: 32px;
    font-size: 2rem;
  }
}
.page-content .widgets .widget {
  float: left;
  display: block;
  margin-right: 3.06748%;
  width: 100%;
  margin-bottom: 2em;
  color: #111111;
}
.page-content .widgets .widget:last-child {
  margin-right: 0;
}
.page-content .widgets .widget:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 481px) {
  .page-content .widgets .widget {
    float: left;
    display: block;
    margin-right: 3.06748%;
    width: 31.28834%;
    font-size: 12.8px;
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  .page-content .widgets .widget:last-child {
    margin-right: 0;
  }
  .page-content .widgets .widget:nth-child(3n) {
    margin-right: 0;
  }
  .page-content .widgets .widget:nth-child(3n+1) {
    clear: left;
  }
}
@media screen and (min-width: 769px) {
  .page-content .widgets .widget {
    font-size: 16px;
    font-size: 1rem;
  }
}
.page-content .widgets .wp-post-image {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1em;
}
.page-content .widgets .read-more {
  -webkit-transition: padding 0.25s ease-in-out;
  -moz-transition: padding 0.25s ease-in-out;
  transition: padding 0.25s ease-in-out;
  border-bottom: 2px solid #fff;
  padding-bottom: 0.25em;
}
.page-content .widgets .read-more:hover {
  border-bottom: 2px solid #fff;
}

.format-status .date, .format-link .date, .format-quote .date {
  width: 100%;
  padding: 5px 0 0;
}

.format-status .date {
  border-color: #222;
}

.format-link .date {
  border-color: #efefef;
}

.format-quote .date {
  border-color: #fba919;
}

.format-status .post-title {
  font-style: italic;
}

.format-link .post-title {
  font-style: italic;
}

.format-quote .post-title {
  font-style: italic;
}

.footer-widgets {
  *zoom: 1;
  float: left;
  display: block;
  margin-right: 3.06748%;
  width: 100%;
  background: #222;
  padding: 1.5em 0;
  list-style: none;
  margin: 0;
}
.footer-widgets:before, .footer-widgets:after {
  content: " ";
  display: table;
}
.footer-widgets:after {
  clear: both;
}
.footer-widgets:last-child {
  margin-right: 0;
}


